.score_bar {
	width:100%;
	display: flex;
}

.score_section {
	width: 50%;
	display: flex;
}

.user_info {
	width: 53.47px;
	margin-right: 31px;
}

.user_avatar {
	width: 53.47px;
	height: 53.47px;
}

.sm-fab {
	width: 28px;
	height: 28px;
}
