p, span {
	font-family: 'Roboto';
	font-size:10.4px;
}

body {
	margin:0px;
	background: #8490D0;
}


#score_1 {
	background: #F5B881;
	display: flex;
	justify-content: flex-end;
}


#score_2 {
	background: #616DAA;
}

.score_bar {
	width:100%;
	display: flex;
	justify-content: space-between;
}

.score_section {
	width: 45%;
	height: 64.8px;
	display: flex;
}

/*.left-tri {
	color: #F5B881;
	border-top:64.8px solid #F5B881;
	border-right:10px solid transparent;
	margin-left: 0px;
}


.right-tri {
	color: #F5B881;
	border-bottom:64.8px solid #616DAA;
	border-left:10px solid transparent;
	margin-left: 0px;
}*/

.score_section div{
	margin-top: 5px;
}

.user_info {
	width: 30.90px;
	margin-right: 11.42px;
}

#my_live_info {
	margin-right: 10px;
}

#other_user_info {
	margin-left:10px;
}

.user_avatar {
	width: 30.90px;
	height: 30.90px;
}

.sm-fab {
	width: 16.19px;
	height: 16.19px;
	margin-right: 8px;
}

.money, .circle_left {
	display: flex;
  	justify-content: center;
}

.time_feedback {
	text-align: center;
}

.time_feedback p {
	color: #ffffff;
	font-size: 14px;
}


.circle_center {
	position: relative;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	width: 75px;
}


.main_int {
	width: 300px;
	position: relative;
}

.main_int img {
	position: absolute;
	
}

.interaction_bar {
	display: flex;
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin-bottom: 10px;
}

#hand {
	width: 100px;
	left: 110px;
}

#ring {
	width: 100px;
	left: 90px;
}

.circle_center_1, .circle_center_2, .circle_center_3 {
	position: relative;
}

.circle_center_1 img, .circle_center_2 img, .circle_center_3 img{
	
	width: 32.36px;
	height: 20.8px;
}

#left_circle_1 {
	color: #B84529;
	position: absolute;
	left:13px;
}

#left_circle_2 {
	color: #648D2D;
	position: absolute;
	left:13px;
}

#left_circle_3 {
	color: #C6AF28;
	position: absolute;
	left:13px;
}

.row-1 image{
	width: 57.78px;
    height: 57.75px;
}

.row-2 image{
	width: 60.67px;
    height: 60.64px;
}


.row-3 image{
	width: 66.92px;
    height: 66.88px;
}

.row-4 image{
	width: 78px;
    height: 77.97px;
}

.row-5 image {
	width: 86.67px;
    height: 86.63px;
}


#egg1{
    left: 43px;
    top: 223px;
    position: absolute;
}

#egg2{
    left: 158px;
    top: 223px;
    position: absolute;
}

#egg3{
    left: 274px;
    top: 223px;
    position: absolute;
}

#egg4{
    left: 100px;
    top: 294px;
    position: absolute;
}

#egg5{
    left: 214px;
    top: 294px;
    position: absolute;
}

#egg6{
    left: 153px;
    top: 367px;
    position: absolute;
}

#egg7{
    left: 83px;
    top: 445px;
    position: absolute;
}

#egg8{
    left: 211px;
    top: 445px;
    position: absolute;
}

#egg9{
    left: 19px;
    top: 528px;
    position: absolute;
}

#egg10{
    left: 145px;
    top: 528px;
    position: absolute;
}

#egg11{
    left: 269px;
    top: 528px;
    position: absolute;
}

.table{
    position: relative;
    width: 100%;
    height: 550px;

}